@tailwind base;
@tailwind components;
@tailwind utilities;





.s ,p,button,a,li {
  font-family: "Signika Negative", sans-serif;
 
}

.f, h1,h2,h3,h4,h5,h6 {
  font-family: "Fraunces", serif;

}



.o {
  font-family: "Open Sans", sans-serif;

}

.banner {
  background-image: url("https://htmldemo.net/zymzoo/zymzoo/assets/img/photos/bg-f2.jpg");
  width: 100%;
  height: 38rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
}