@tailwind base;
@tailwind components;
@tailwind utilities;





.s ,p,button,a,li {
  font-family: "Signika Negative", sans-serif;
 
}

.f, h1,h2,h3,h4,h5,h6 {
  font-family: "Fraunces", serif;

}



.o {
  font-family: "Open Sans", sans-serif;

}